.mainnavbar{
    position: absolute;
    margin-left: 11em;
    margin-right: 11em;
    margin-top: 2.51em;
    margin-bottom: 1em;
    width: calc(100% - 22em);

}
@media only screen and (max-width: 1260px) {
    .mainnavbar{
        position: absolute;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 3.51em;
        margin-bottom: 1em;
        width: calc(100% - 4em);
    
    }
}

@media only screen and (max-width: 750px) {
    .mainnavbar{
        margin-top: 1em;
    
    }
}